body{
	font-family: monospace;
}
h1{
	font-family: monospace;
	font-size: 4em;
	margin: 0;
	padding: 0;
	vertical-align: text-top;
	color: white;
}
h2{
	font-family: monospace;
	margin: 0;
	padding: 0;
	color: white;
}


#pageHeader{
	background-color: dodgerblue;
	border: 5px solid blue;
	text-align: center;

	width: 30em;
	
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
}

#login{
	border: 5px solid dodgerblue;
	margin-right: auto;
	margin-left: auto;
	margin-top: 6em;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-right: 2em;
	padding-left: 2em;
	text-align: center;
	width: 20em;
}
 #createAccount, #forgotPassword{
 	border: 5px solid dodgerblue;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3em;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-right: 2em;
	padding-left: 2em;
	text-align: center;
	width: 20em;
 }
.btn{
	background-color: dodgerblue;
	width: auto;
	height: 25px;
	margin-top: 2em;
	color: white;
	border: 3px solid dodgerblue;
	font-family: monospace;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.searchbtn{
	background-color: dodgerblue;
	width: auto;
	height: 25px;
	margin-top: 2em;
	color: white;
	border: 3px solid dodgerblue;
	font-family: monospace;
}
.backHome{
	background-color: dodgerblue;
	width: auto;
	height: 25px;
	margin-top: 2em;
	color: white;
	border: 3px solid dodgerblue;
	font-family: monospace;
	display: inline-block;
	margin-bottom: 2em;
	margin-top: 0;
	float: right;
}
#signedIn{
	margin-top: 1em;
}
#search{
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	margin: 5em;
	text-align: center;
}
#searchBar{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}
#viewMyReviews{
	text-align: center;
}
#viewMyReviews>button{
	width:50%;
	height:auto;
	font-weight: bolder;
	font-size: 3em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
	background-color: lightgrey;
	color: blue;
}

th {
    background-color: dodgerblue;
    color: white;
}

.courseTable {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 80%;
}
.searchTable {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 50%;
    text-align: center;
    
}
.searchHeader, .searchD {
    text-align: center;
    font-size: 1.5em;
    padding: 8px;
}
.courseHeader, #courseTable>td {
    text-align: left;
    background-color: dodgerblue;
    padding: 8px;
}

.courseRow:nth-child(even){
	background-color: lightgrey;
	color: black;
	font-size: 1em;
}

.courseHeader {
    background-color: dodgerblue;
    border: 2px solid white;
    color: white;
    font-size: 2em;
    width: 25%;
}

.course{
	font-size: 2em;
}